<div class="container">
  <div class="align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="row">
      <div class="col-md-1 col-3">
        <div class="btn-toolbar mb-2 mb-md-0">
          <%= link_to I18n.t('views.return'), products_path, class: 'btn btn-outline-dark' %>
        </div>
      </div>
      <div class="col-md-11 col-9">
        <h2><%= I18n.t('views.new_product') %></h2>
      </div>
    </div>
  </div>
  <%= render partial: 'form', locals: { method: :patch } %>
</div>
